#main.container.row
  %header.row.brand1
    .headline.four.columns
      %h1 <small>We’re Better</small> Together
      %h4 Expertise | The Team
    .intro.eight.columns
      %p.emphasize We don’t dictate. We collaborate.
      %p The design and development process shouldn’t be a secret. At Gaslight, the whole team owns every project. And we consider our clients an integral part of that team. We cultivate deep partnerships to produce innovative results.

  %section.row.expertise
    .ten.columns.centered
      %h2.title.brand1 Our Expertise
      .row
        .two.columns.iconTile
          %i.icon-skills-backbone
          %strong Backbone
        .ten.columns
          %p We use this framework in JavaScript to create rich Web clients. Backbone makes it possible to build an online interface that reacts to users in real time without re-loading the page. [[[Training sentence here.]]]
      .row
        .two.columns.iconTile
          %i.icon-skills-rails
          %strong Ruby on Rails
        .ten.columns
          %p The Ruby programming language is smart, friendly and easy to work with, making it a perfect choice for building high quality software. Another benefit? Ruby makes it easier to update and maintain your software long-term, especially compared to languages like PHP. Rails is the framework that makes Ruby operate on the Web.
      .row
        .two.columns.iconTile
          %i.icon-skills-ios
          %strong iOS
        .ten.columns
          %p We can help you follow users wherever they go. Our development expertise includes creating apps for iPhones and iPads, as well as universal builds that work on both devices. These native apps create a richer experience because they aren’t constrained by the limitations of the mobile Web.
      .row
        .two.columns.iconTile.last
          %i.icon-skills-ux
          %strong User Experience
        .ten.columns
          %p A focus on user experience allows us to create software and applications that are a pleasure for real people to use. How? We combine top-notch design with both internal and external testing.
  
  %section.row
    %hr.divider.eight.columns.centered
    %row
      .four.columns
        %p
          %strong Don’t see what you’re looking for on this list? We have a few more technology tricks up our sleeves.  
      .eight.columns
        %p Some of our other skills include: graphic design, agile development, Objective-C, video editing, audio, game design and development, story maps, Kanban lean software development, HTML/CSS, embedded systems, developer training and more. The list is always growing.

  %section.row.team
    %h2.title.brand1 Meet the Team
    %ul.eight.columns.photos
      %li
        .photo
          %img{src: image_path("people/ryan.jpg"), alt: "Ryan Arthur" }
          .overlay
        %h3 Ryan Arthur
      %li
        .photo
          %img{src: image_path("people/doug.jpg"), alt: "Doug Alcorn" }
          .overlay
        %h3 Doug Alcorn
      %li
        .photo
          %img{src: image_path("people/bill.jpg"), alt: "Bill Barnett" }
          .overlay
        %h3 Bill Barnett
      %li
        .photo
          %img{src: image_path("people/tammy.jpg"), alt: "Tammy Gambrel" }
          .overlay
        %h3 Tammy Gambrel
      %li
        .photo
          %img{src: image_path("people/dewayne.jpg"), alt: "Dewayne Greenwood" }
          .overlay
        %h3 Dewayne Greenwood
      %li
        .photo
          %img{src: image_path("people/peter.jpg"), alt: "Peter Kananen" }
          .overlay
        %h3 Peter Kananen
      %li
        .photo
          %img{src: image_path("people/kristin.jpg"), alt: "Kristin Lasita" }
          .overlay
        %h3 Kristin Lasita
      %li
        .photo
          %img{src: image_path("people/mitch.jpg"), alt: "Mitch Lloyd" }
          .overlay
        %h3 Mitch Lloyd
      %li
        .photo
          %img{src: image_path("people/chris_m.jpg"), alt: "Chris Moore" }
          .overlay
        %h3 Chris Moore
      %li
        .photo
          %img{src: image_path("people/chris_n.jpg"), alt: "Chris Nelson" }
          .overlay
        %h3 Chris Nelson
      %li
        .photo
          %img{src: image_path("people/kevin.jpg"), alt: "Kevin Rockwood" }
          .overlay
        %h3 Kevin Rockwood
      %li
        .photo
          %img{src: image_path("people/james.jpg"), alt: "James Smith" }
          .overlay
        %h3 James Smith
      %li
        .photo
          %img{src: image_path("people/joel.jpg"), alt: "Joel Turnbull" }
          .overlay
        %h3 Joel Turnbull
    .four.columns
      %h3 We’ve put together a great group of people.
      %p No two Gaslight-ers are exactly alike. Each person on our team brings a different set of talents to the office. So when we put out heads together, we’re ready for almost any project.


