#main.container.row
  %header.row.brand3
    .headline.brandBase.four.columns
      %h1 Let’s Light Things <strong>Up</strong>
      %h4 Process | Praise | Getting Started
    .intro.eight.columns
      %p
        %em You bring the idea. We bring the electricity. 
      %p What’s our specialty? We light up the path that turns your best ideas into reality. Our custom software, web apps and mobile apps are about more than great code. They take your business new places.
