= render partial: 'application/nav'

#main.container.row
  %section.row.events
    %a.anchor{name:"events"}
    .eleven.columns.centered
      %h2.title.brand1 Upcoming Events
      #activities
        .events.inactive
        .spinner
          %h4 Loading

:plain
  <script type="text/template" id="eventTemplate">
    <div class="columns one mobile-one">
      <img src="<%- person.avatar %>" class="avatar" />
    </div>
    <div class="columns eleven mobile-three">
      <span class="person"><a href="https://twitter.com/<%- person.twitter %>"><%- person.firstName %></a></span>
      is <span class="verb"><%- verb %></span>
      <span class="event"><a href="<%- url %>"><%- name %></a></span>
      in
      <span class="location"><%- location %></span> on <%- occursOn %>.
    </div>
  </script>

= render partial: 'application/footer'

- content_for(:javascript) do
  :coffeescript
    jQuery -> activityView = new Gaslight.Views.ActivityView

