- content_for :javascript do
  :javascript
    new Gaslight.HomepageApp()

= render partial: 'application/nav'

#guides
  
  %img.logo{src: image_path("logoLarge.png")}

  .intro
    %h3 We are Gaslight 
    %p What’s our specialty? We light up the path that turns your best ideas into reality. Our custom software, web apps and mobile apps are about more than great code. They take your business new places.
    %a.button.brand3{href: page_path("contact")} Let's Talk
  
  .links.hide-for-large
    %a.button.brand1{href: page_path("about")} About
    %a.button.brand2{href: page_path("work")} Work
    %a.button.brand3{href: page_path("contact")} Contact

  %h2 Let’s Build<br/> Great Things