/ #landing.guides
/   .intro
/     %p.eight.columns
/       Gaslight: A one-liner about us Street art gastropub vice, raw denim food truck mustache.

/     %i.icon-laptop.hide-for-small.four.columns


#main.container
  %header.row
    .headline.brandBase.four.columns
      %h1 Hi, we're <strong>Gaslight.</strong>
      %h4 4 words | describe | section | Awesome
    .eight.columns
      %h3 Overview of Gaslight area. vice messenger bag, keytar id chambray craft beer jean shorts sapiente street.
      %p Lomo cillum ut pitchfork vice messenger bag, keytar id chambray craft beer jean shorts sapiente street art thundercats. Gentrify artisan keytar, chambray viral 3 wolf moon mustache thundercats before they sold out umami culpa.
