#landing.guides
  .intro
    %p.eight.columns
      Gaslight: A one-liner about us Street art gastropub vice, raw denim food truck mustache.

    %i.icon-laptop.hide-for-small.four.columns


#main.row.container