.post
  .header
    %h1= link_to_unless_current(post.title, post)
    by #{link_to(post.author, posts_path(author: post.author))}
    %time{pubdate: true}= l(post.published_on, format: :nice)
  .body= raw(post.html)
