- content_for(:title) { "Gaslight Blog" }
= render partial: 'application/nav'
#main.container.row
  .columns.eight.post
    %ul
      - posts.each do |post|
        %li= link_to(post.title, post)
  .columns.three.prepend-1.sidebar
    %h3 Sidebar
= render partial: 'application/footer'
