header.row
  background: url("header-background.jpg") no-repeat
  margin-bottom: 20px
  .headline
    padding: 80px 0
    @include brandColors(background-color)
    @include opacity(0.85)
    h1
      padding-left: 48px
    h4
      text-align: center
    &.brandBase h1, h4
      color: #fff
  .intro
    padding: 30px 55px

