@import "foundation_and_overrides";

$red: #d63f31;
$blue: #60b6e4;
$yellow: #ebd018;

html, body{ height: 100%;}

body{
  background: url(/assets/home/background.jpg);
  @include background-size(cover);
}

.container{
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 60px;
  overflow: hidden;
  min-height:100%;
}

#wrapper{
  overflow: auto;
  min-height: 100%;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 60px;
}

#header{
  text-align: center;
  margin: 60px 0;
}

#bars{
  width: 100%;
  position: absolute;
  top: 0;
  height: 15px;
  overflow: visible;
  li{
    width: 33.333%;
    float: left;
    height: 100%;
    list-style: none;
    &.brand1{ background: $red; }
    &.brand2{ background: $blue; }
    &.brand3{ background: $yellow; }
    &.active{ height: 160%; }
    @include transition-property(height);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in-out); 
  }
}

#taglines{
  overflow: auto;
  min-height: 250px;
  position: relative;
  li{
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    &.active{
      h1{
        display: block;
      }
    }
    span{
      left: -100%;
      background: #000;
      padding: 10px 80px;
      display: block;
      position: relative;
    }
    h1{
      display: none;
      position: relative;
      color: #fff;
      float: left;
      clear: both;
      font-size: 65px;
      margin-left: 170px;
      overflow: hidden;
      &.top{
        margin-left: 85px;
      }
      &:before {
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 15px;
        content: "";
        background: $red;
      };
    };
    &.brand1 h1:before{ background: $red; }
    &.brand2 h1:before{ background: $blue; }
    &.brand3 h1:before{ background: $yellow; }
  }
}

.banner{
  background: #000;
  h3{
    color: #fff;
    margin: 0;
    text-align: center;
  }
  &.banner-left{
    background: #000;
    min-height: 48px;
    margin-bottom: 60px;
    &:after{
      position: absolute;
      left: 100%;
      bottom: 0;
      width: 0; 
      height: 0; 
      border-left: 0px solid transparent;
      border-right: 48px solid transparent;
      border-bottom: 48px solid #000;
      content: "";
    }
    h3{
      font-size: 24px;
      padding-top: 13px;
    }
  }
  &.banner-right{
    margin-top: 50px;
    margin-right: -15px;
    min-height: 28px;
    margin-bottom: 30px;
    background: #4D4D4D;
    &:before{
      position: absolute;
      right: 100%;
      bottom: 0;
      width: 0; 
      height: 0; 
      border-right: 0px solid transparent;
      border-left: 28px solid transparent;
      border-bottom: 28px solid #4D4D4D;
      content: "";
    }
    h3{
      font-size: 14px;
      padding-top: 8px;
    }
  }
}

#about{
  position: relative;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.7);
  padding: 0 42px 15px 42px;
  &:before{
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 100%;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    content: "";
  };
  h4.brand1 {
    margin-top: 0;
    color: $red;
  }
  h4.brand2{ color: $blue; margin-top: 40px;}
  p{
    margin-bottom: 16px;
    font-size: 17px;
    line-height: 1.5em;
  }
  ul.skills{
    float: left;
    margin-right: 40px;
    li{
      list-style: square;
      list-style-position: inside;
      color: $yellow;
      span{
        color: #333;
        font-weight: bold;
      }
    }
  }
}

#contact{
  position: relative;
  background: rgb(60, 60, 60); /* The Fallback */
  background: rgba(60, 60, 60, 0.5); 
  form{
    padding: 15px 0;
    div.flash {
      &.error { background-color: $yellow; }
      &.success { background-color: $blue; }
      padding: 8px;
      margin: .5em 0;
    }
    margin: 0;
    overflow: auto;
    .button{
      float: right;
      &:hover {
        @include box-shadow(0 1px 0 $blue inset);
        background-color: $blue;
        border: 1px solid $blue;
        color: #fff;
      }
    }
    input[type=text], input[type=email], textarea {
      font-size: 12px;
      &:focus {
        border: 1px solid $blue;
        box-shadow: 0 0 5px $blue;
      };
    }
    textarea{
      height: 140px;
      font-family: inherit;
    }
    .placeholder{
      color: #999;
    }
    label {
      display: none; }
  }
  .socialMedia p{
    color:#fff;
    margin:26px 5px 0 5px;
  }
}

#footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background: url(/assets/home/footer.jpg);
  text-align: center;
  .link{
    padding: 10px 0;
    z-index: 1;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    a{
      color: #fff;
      &:hover{ color: $blue; }
    }
    .diamond{
      color:#fff;
      display: inline-block;
      margin-right: 10px;
      width: 22px;
      height: 22px;
      position: relative;
      font-size: 12px;
      text-align: center;
      line-height: 22px;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        display:block;
        top: 0;
        left: 0;
        z-index: -1;
        @include rotate(-45deg);
      }
      &.email:after{background: $red;}
      &.phone:after{background: $blue;}
      &.address:after{background: $yellow;}
    }
  }
}

.icons{
  width: 50%;
  padding: 1.25em 0;
  margin: 0 auto 1em auto;
  li{
    list-style: none;
    float: left;
    width: 33%;
    text-align: center;
    a {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-bottom: 5px;
      @include border-radius(50%);
      &.rails{ background-image: url('/assets/home/icon-rails.png') }
      &.backbone{ background-image: url('/assets/home/icon-backbone.png') }
      &.ios{ background-image: url('/assets/home/icon-ios.png') }
      &.design{ background-image: url('/assets/home/icon-design.png') }
      &.ux{ background-image: url('/assets/home/icon-ux.png') }

      &.github {
        font-size: 0;
        background-image: url(image-path('home/social media-02.png'));
        background-position: 32.5px 0px;
        &:hover {
          background-position: 32.5px 32.5px;
        };
      }
      &.twitter {
        font-size: 0;
        background-image: url(image-path('home/social media-02.png'));
        background-position: 65px 0px;
        &:hover {
          background-position: 65px 32.5px;
        };
      };
      &.facebook {
        font-size: 0;
        background-image: url(image-path('home/social media-02.png'));
        background-position: 0px 0px;
        &:hover {
          background-position: 0px 32.5px;
        };
      }
    }
    label{
      display: block;
      font-size: 14px;
      line-height: 1.3em;
    }
  }
}

@media screen and (max-width: 768px) {
  #footer{ position: relative;}
}

