@import "foundation_and_overrides";

$red: #d63f31;
$yellow: #ebd018;
$blue: #60b6e4;

html, body{ height: 100%;}

body{
  background: url(/assets/home/background.jpg) top center no-repeat #ACACAC;
  background-size: auto 100% ;
}

.container{
  width: $rowWidth;
  margin: 0 auto;
}

#wrapper{
  overflow: auto;
  min-height: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.5);
}

#bars{
  width: 100%;
  position: absolute;
  top: 0;
  height: 15px;
  overflow: visible;
  li{
    width: 33.333%;
    float: left;
    height: 100%;
    list-style: none;
    &.first{ background: $red; }
    &.second{ background: $blue; }
    &.third{ background: $yellow; }
    &:hover{ height: 150%; }
  }
}

#taglines{
  overflow: auto;
  min-height: 200px;
  li{
    list-style: none;
    position: relative;
    display: none;
    &.active{
      display: block;
    }
    h1, h2{
      display: block;
      position: relative;
      background: #000;
      color: #fff;
      float: left;
      clear: both;
      font-size: 65px;
      padding: 10px 60px;
      &:before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 15px;
        background: $blue;
        content: "";
      };
    }
    h1{
      margin-left: 85px;
    }
    h2{
      margin-left: 170px;
    }
  }
}

#about{

  float: left;
  width: 62%;
  margin-top: 145px;
  position: relative;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.7);
  &:before{
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 100%;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    content: "";
  };
  h3{
    display: block;
    position: absolute;
    top: -128px;
    height: 48px;
    background: #000;
    color: #fff;
    font-size: 24px;
    padding: 10px 51px;
    &:after{
      position: absolute;
      left: 100%;
      bottom: 0;
      width: 0; 
      height: 0; 
      border-left: 0px solid transparent;
      border-right: 48px solid transparent;
      border-bottom: 48px solid #000;
      content: "";
    };
  }
  .inner{
    padding: 24px 2%;
    overflow: auto;
  }
  .logo{ 
    float: left;
    width: 47%;
    margin-top: 110px;
    text-align: center;
  }
  .sweetSkills{
    float: right;
    width: 50%;
    h4.first{ color: $red;}
    h4.second{ color: $blue;}
    p{
      margin-bottom: 35px;
      font-size: 17px;
      line-height: 1.3em;
    }
    ul.skills{
      li{
        list-style: square;
        list-style-position: inside;
        color: $yellow;
        span{
          color: #333;
          font-weight: bold;
        }
      }
    }
  }
}

#contact{
  float: right;
  width: 34%;
  margin-top: 146px;
  position: relative;
  h3{
    display: block;
    position: absolute;
    top: -78px;
    right: 0;
    height: 32px;
    background: #4d4d4d;
    color: #fff;
    font-size: 17px;
    padding: 6px 20px;
    font-weight: normal;
    &:before{
      position: absolute;
      right: 100%;
      bottom: 0;
      width: 0; 
      height: 0; 
      border-left: 32px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 32 solid #4d4d4d;
      content: "";
    };
  }
  .inner{
    padding: 20px 5%;
    background: rgb(60, 60, 60); /* The Fallback */
    background: rgba(60, 60, 60, 0.5); 
    form{
      margin: 0;
      overflow: auto;
      .button{
        float: right;
      }
      textarea{
        height: 140px;
        font-size: 12px;
      }
    }
    p{
      color:#fff;
      margin:26px 5px 0 5px;
    }
  }
}

#footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background: url(/assets/home/footer.jpg);
  text-align: center;
  ul{
    display: inline-block;
    margin: 0;
    li{
      list-style:none;
      float: left;
      z-index: 1;
      overflow: visible;
      position: relative;
      color: #fff;
      padding: 10px 0;
      margin-right: 10px;
      font-weight: normal;
      a{
        color: #fff;
        &:hover{ color: $blue; }
      }
      .diamond{
        color:#fff;
        display: inline-block;
        margin-right: 10px;
        width: 25px;
        height: 25px;
        position: relative;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
        &:after{
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          display:block;
          top: 50%;
          left: 50%;
          z-index: -1;
          @include rotate(-45deg);
          @include transform-origin(-50%, 75%);
        }
        &.email:after{background: $red;}
        &.phone:after{background: $blue;}
        &.address:after{background: $yellow;}
      }
      
    }
  }
}

.icons{
  li{
    list-style: none;
    float: left;
    width: 18%;
    text-align: center;
    i{
      width: 45px;
      height: 45px;
      display: inline-block;
      border: 2px solid #000;
      background: center center no-repeat;
      background-size: 55%;
      margin-bottom: 5px;
      @include border-radius(50%);
      &.rails{ background-image: url('/assets/home/icon-rails.png') }
      &.backbone{ background-image: url('/assets/home/icon-backbone.png') }
      &.ios{ background-image: url('/assets/home/icon-ios.png') }
      &.design{ background-image: url('/assets/home/icon-design.png') }
      &.ux{ background-image: url('/assets/home/icon-ux.png') }
    }
    label{
      display: block;
      font-size: 14px;
      line-height: 1.3em;
    }
  }
}
