#main
  background: #fff
  box-shadow: 0 0 10px #ddd
  padding-top: 40px

h2.title
  text-align: center
  border-top: 2px solid $headerFontColor
  border-bottom: 2px solid $headerFontColor
  margin: 30px 80px
  padding: 20px 0 15px 0
  &:before, &:after
    @include icon-sprite(diamond-grey)
    content: ""
    display: inline-block
    margin: 0 15px
  &.brand1:before, &.brand1:after
    @include icon-sprite(diamond-blue)
  &.brand2:before, &.brand2:after
    @include icon-sprite(diamond-yellow)
  &.brand3:before, &.brand3:after
    @include icon-sprite(diamond-red)

.row.expertise
  p
    margin-bottom: 40px
  .verticalWrap
    min-height: 200px

.skillTile
  text-align: center
  margin-bottom: 50px
  i
    clear: both
    margin-bottom: 15px
  strong
    font-size: 20px
    display: inline-block
    width: 100%

hr.divider
  border: 1px solid #c1c1c1
  margin: 30px 175px
  text-align: center
  &:before
    @include icon-sprite(diamond-grey)
    content: ""
    display: inline-block
    margin: -12px 15px 0 15px

.flex-video
  margin-bottom: 30px

.contact .button
  margin-top: 70px