//iPhone

@media only screen and (max-width: 767px)
  .row .row .row
    margin: 0 -10px

  #nav
    background: #000
    text-align: center
    .mobile
      display: block
    .brand
      float: none
      height: $topBarHeightMobile
      text-align: center
      .logo
        float: none
        width: 40px
        vertical-align: top
        margin-top: 6px
      .name
        display: none
    ul.links > li a
      text-align: left
      height: 62px
      line-height: 62px
      border-top: none
      border-bottom: 2px solid #fff
      font-weight: lighter
      font-size: 24px

  #guides
    .intro
      max-width: 100%
      position: relative
      margin-top: 60px
      padding: 20px
      .lead
        text-align: left
        margin-bottom: 0

    .logo
      display: none
    h2
      display: none

  .sidebar
    margin-bottom: 40px
  
  .iconTile, .iconTile.last
    margin-bottom: 20px

  #slideshow
    h3
      font-size: 21px

  p
    font-size: 16px
    &.lead
      font-size: 19px
  hr.divider
    margin-bottom: 40px
  h2.title
    margin-right: 0
    margin-left: 0
    margin-bottom: 30px
    font-size: 24px
    &:before, &:after
      margin: 0 10px
    &.brand1
      &:before, &:after
        @include icon-sprite(diamond-small-blue)
    &.brand2
      &:before, &:after
        @include icon-sprite(diamond-small-yellow)
    &.brand3
      &:before, &:after
        @include icon-sprite(diamond-small-red)
  
  #main 
    padding: 75px 25px
    > header
      display: none

  body.posts
    // less padding on blog posts  
    #main
      padding: 50px 10px
    h1
      font-size: $blog-mobile-heading-font-size
    h2
      font-size: $blog-mobile-heading-font-size * .875
    h3
      font-size: $blog-mobile-heading-font-size * .75
    h4
      font-size: $blog-mobile-heading-font-size * .625
    h5
      font-size: $blog-mobile-heading-font-size * .5

    ul, ol
      margin-left: 1.5em
    .post__title
      width: 121%
      padding-left: 20%
      padding-right: 10%
      padding-top: 20px
    .post__avatar
      position: relative
      display: block
      float: left
      margin: 3px 0px 0px 0px
      height: 35px
      width: 35px
    .post__author
      margin-left: 1em
      margin-top: 12px
      display: inline-block
    .post__body
      margin-top: 20px

  .clientsList li
    display: block
    width: 100%
    text-align: center
    height: 100%
    margin-bottom: 25px


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation: portrait)
  .post
    .post__title
      width: 118.5%

@media only screen and (min-width : 768px) and (max-width : 1279px)
  .post
    .post__title
      padding-left: 15%
      font-size: 30px
    .post__avatar
      position: relative 
      float: left
      margin-bottom: 10px
    .post__author
      margin-left: 1em
      margin-top: 2em
      display: inline-block

@media only screen and (min-width : 1280px)

  .post
    .post__avatar
      padding: 0px
      position: absolute
      left: 0
      top: 50%
