@media only screen and (max-width: 768px)
  .top-bar
    text-align: center
    .name .logo
      width: 40px
      vertical-align: top
      margin-top: 6px

  h2.title
    margin-right: 0
    margin-left: 0

