<ul id="taglines">
  <li class="second active">
    <h1 class="top"><span>Funk</span></h1>
    <h1><span>Radio</span></h2>
  </li>
  <li class="third">
    <h1 class="top"><span>New</span></h1>
    <h2><span>Text</span></h2>
  </li>
  <li class="first">
    <h1 class="top"><span>Awesome</span></h1>
    <h2><span>Words</span></h2>
  </li>
  <li class="second">
    <h1 class="top"><span>Catchy</span></h1>
    <h2><span>Opener</span></h2>
  </li>
  <li class="third">
    <h1 class="top"><span>Cool</span></h1>
    <h2><span>People</span></h2>
  </li>
</ul>