#footer
  %ul.links.group
    %li
      = link_to "Twitter", "http://twitter.com/teamgaslight", class: "brand1"

    %li
      = link_to "Facebook", "http://facebook.com/teamgaslight", class: "brand2"

    %li
      = link_to "Github", "http://github.com/gaslight", class: "brand3"