#nav.top-bar
  .row
    %nav.twelve.columns
      .brand
        %img.logo{src: image_path("logoSmall.png")}
        %a.name{href: page_path("home")} Gaslight
      %ul.right
        %li.toggle-topbar
          %a
        %li
          %a.brand1{href: page_path("about"), class: active_page_class(page_path("about"))} About
        %li
          %a.brand2{href: page_path("work"), class: active_page_class(page_path("work"))} Work
        %li
          %a.brand3{href: page_path("contact"), class: active_page_class(page_path("contact"))} Contact
        %li
          %a{href: "http://blog.gaslight.co"} Blog